<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home </span></a>
            </li>
            <li>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Category"><i class="fa fa-database"></i> Categories </span></a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Coupon"><i class="fa fa-ticket"></i> Coupons </span></a>
            </li>
            <li>
                <a asp-action="GetAll" asp-controller="ShippingMethods"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Shipping</span></a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Products"><i class="fa fa-ticket"></i> Products </span></a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Meadia"><i class="fa fa-ticket"></i> Meadia  </span></a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Attributes"><i class="fa fa-ticket"></i> Attributes </span></a>
            </li>
             <li>
                <a asp-action="Index" asp-controller="AttributeOptions"><i class="fa fa-ticket"></i> Attributes Options </span></a>
            </li>
        </ul>
    </div>


</div>