@model             List<Ecommerace.Models.ProductAttributes>
@{
    ViewData["Title"] = "Index";
    // Layout="_DashboardLayout";
    ViewBag.area = "Admin";
    ViewBag.controller = "Attributes";
}
<div class="page-title">
    <div class="title_left">
        <h3>All Attributes</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            <form asp-area="Admin" asp-controller="Attributes" asp-action="Index" class="me-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchText" placeholder="Search By Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="row" style="display: block;">


    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">

                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="btn btn-round" href="/Admin/Attributes/Add">Add New Attribute <i class="fa fa-plus-circle"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">ID </th>
                                <th class="column-title">Name </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Actions</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="even pointer">
                                    <th class=" ">@item.Id </th>
                                    <th class=" ">@item.Name </th>
                                    <td class=" last">
                                        <a href="/Admin/Attributes/Edit?Id=@item.Id">Edit</a>

                                        <a href="#" onclick="confirmDelete(@item.Id)">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>


            </div>
            <div class="clearfix"></div>
           
            <partial name="_PagerPartial" model="@ViewBag.Pager" />
        </div>
    </div>
</div>

<script>

    function confirmDelete(id) {
        event.preventDefault();
        if (confirm("Are You Sure You Want To Delete This Attribute ? ") == true) {
            $.ajax({
                url: "/Admin/Attributes/Delete",
                type: "POST",
                data: { Id: id },
                success: function (result) {
                    alert("Attribute deleted successfully");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert("Failed to delete Attribute. Please try again");
                }
            });
        }

    }
</script>

