<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a asp-action="Index" asp-controller="Home" asp-area="store"><i class="fa fa-home"></i> Home </span></a>
            </li>
            <li>

            <li>
                <a asp-action="Index" asp-controller="Products"><i class="fa-brands fa-product-hunt"></i>  Products</span></a>
            </li>

        </ul>
    </div>


</div>